*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: #17ABDD;
}

.wrapper {
	background-color: #EEE;
	max-width: 960px;
	margin: 0 auto;
}

.container {
	background-color: #FFF1E6;
}

#yahtzee {
	display: inline-block;
	margin: 20px 0;
}

.highscore_table {
	margin: 20px auto;
	width: 100%;
}

.highscore_table th {
	font-size: 20px;
}

.scoring_table { 
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 20px;
	float: right;
}

th {
	padding: 5px 5px;
	background: #1B1E24;
	font-weight: 100;
	color: #D5DDE5;
}

td {
	border-right: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;
	padding: 5px 5px;
}

td:last-child {
	border-right: 0;
}

tr:nth-child(odd) td {
	background: #EBEBEB;
}

table{
	background-color: white;
}
