*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: #02779E;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

#yahtzee {
	display: inline-block;
	border: 1px solid black;
	margin: 20px 0;
}

table { 
	display: inline-block;
	margin-left: 20px;
}

th {
	padding: 0 5px;
}

tr, td {
	border: 1px solid black;
	padding: 2px 4px !important;
}


table, canvas {
	background-color: white;
}